<div class="matrixData textDecoration">
    <div><%= allmatrixData.question %>(InstanceParentQuestion)</div>
</div>
<% for(let pointer= 0 ; pointer < allmatrixData.data.length ; pointer++){ %>
<div class="card">
    <div class="container">
        <div class="instanceChildren">
            <%= allmatrixData.data[pointer][0].instanceChildrenCount %>
        </div>
        <% for(let i= 0 ; i < allmatrixData.data[pointer].length ; i++){ %>

        <% if (allmatrixData.data[pointer][i].responseType === "radio" ) { %>
        <%- include('radio.ejs', {allRadioData: allmatrixData.data[pointer][i]}); %>
        <% } %>

        <% if (allmatrixData.data[pointer][i].responseType === "text") { %>

        <%- include('text.ejs', {allText: allmatrixData.data[pointer][i]}); %>
        <% } %>

        <% if (allmatrixData.data[pointer][i].responseType === "slider") { %>
        <%- include('slider.ejs', {allSliderData: allmatrixData.data[pointer][i]}); %>
        <% } %>

        <% if (allmatrixData.data[pointer][i].responseType === "NA") { %>

        <%- include('notApplicable.ejs', {notApplicableData: allmatrixData.data[pointer][i]}); %>

        <% } %>


        <% if (allmatrixData.data[pointer][i].responseType === "date") { %>
        <%- include('date.ejs', {allDateData: allmatrixData.data[pointer][i]}); %>
        <% } %>

        <% if (allmatrixData.data[pointer][i].responseType === "multiselect") { %>
        <%- include('multiselect.ejs', {allMultiSelectData: allmatrixData.data[pointer][i]}); %>
        <% } %>

        <% if (allmatrixData.data[pointer][i].responseType === "number") { %>
        <%- include('text.ejs', {allText: allmatrixData.data[pointer][i]}); %>
        <% } %>

        <% } %>
    </div>
</div>
<% } %>